name: Cypress Tests (Parallel)

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  cypress-parallel:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        feature:
          - login
          - signup

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20.19.6

      - name: Install dependencies
        run: npm install

      - name: Run Cypress tests (Parallel)
        run: npx cypress run --spec "cypress/e2e/features/${{ matrix.feature }}/*.feature"

      - name: Generate HTML report
        run: node cucumber-html-report.js

      - name: Upload HTML report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: cucumber-report-${{ matrix.feature }}
          path: cypress/reports/html
